<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
</head>
<body>
<div>
    <a href="https://market.aliyun.com/products/53400005/cmjj014493.html?spm=5176.2020520132.101.11.wBEvdR">我所使用的阿里云镜像的官网</a>
    <a href="https://home.console.aliyun.com/new#/">阿里云控制台</a>
    <a href="http://mp.weixin.qq.com/debug/cgi-bin/sandboxinfo?action=showinfo&t=sandbox/index">微信公众号调试接口</a>
    <a href="http://www.5442.com/showpic.html?http://pic.ytqmx.com:82/2013/0619/12/09.jpg">刺客信条的图片</a>
</div>
</body>